<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>RetrieveData</servlet-name>
    <servlet-class>df.servlet.service.RetrieveData</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProcessDailySrvl</servlet-name>
    <servlet-class>df.servlet.process.ProcessDailySrvl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProcessMonthlySrvl</servlet-name>
    <servlet-class>df.servlet.process.ProcessMonthlySrvl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProcessMatchTableSrvl</servlet-name>
    <servlet-class>df.servlet.process.ProcessMatchTableSrvl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProcessPaymentMonthlySrvl</servlet-name>
    <servlet-class>df.servlet.process.ProcessPaymentMonthlySrvl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProcessBankTMBPaymentMonthlySrvl</servlet-name>
    <servlet-class>df.servlet.process.ProcessBankTMBPaymentMonthlySrvl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProcessTax406Srvl</servlet-name>
    <servlet-class>df.servlet.process.ProcessTax406Srvl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProcessTax402GetDataSrvl</servlet-name>
    <servlet-class>df.servlet.process.ProcessTax402GetDataSrvl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProcessTax402GetUpdateSrvl</servlet-name>
    <servlet-class>df.servlet.process.ProcessTax402GetUpdateSrvl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProcessTax402Srvl</servlet-name>
    <servlet-class>df.servlet.process.ProcessTax402Srvl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProcessPaymentSalaryMonthlySrvl</servlet-name>
    <servlet-class>df.servlet.process.ProcessPaymentSalaryMonthlySrvl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProcessBankTMBPaymentSalaryMonthlySrvl</servlet-name>
    <servlet-class>df.servlet.process.ProcessBankTMBPaymentSalaryMonthlySrvl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProcessReceiptByARSrvl</servlet-name>
    <servlet-class>df.servlet.process.ProcessReceiptByARSrvl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProcessReceiptByDoctorSrvl</servlet-name>
    <servlet-class>df.servlet.process.ProcessReceiptByDoctorSrvl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProcessReceiptByPayorSrvl</servlet-name>
    <servlet-class>df.servlet.process.ProcessReceiptByPayorSrvl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImportFileSrvl</servlet-name>
    <servlet-class>df.servlet.interfacefile.ImportFileSrvl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewReportSrvl</servlet-name>
    <servlet-class>df.servlet.report.ViewReportSrvl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProcessImportBillSrvl</servlet-name>
    <servlet-class>df.servlet.process.ProcessImportBillSrvl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExportFileSrvl</servlet-name>
    <servlet-class>df.servlet.interfacefile.ExportFileSrvl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProcessImportGuaranteeSrvl</servlet-name>
    <servlet-class>df.servlet.guarantee.ProcessImportGuaranteeSrvl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProcessRollbackSrvl</servlet-name>
    <servlet-class>df.servlet.process.ProcessRollbackSrvl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProcessFlowSrvl</servlet-name>
    <servlet-class>df.servlet.process.ProcessFlowSrvl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProcessSummaryExpenseSrvl</servlet-name>
    <servlet-class>df.servlet.expense.ProcessSummaryExpenseSrvl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProcessBatchSrvl</servlet-name>
    <servlet-class>df.servlet.process.ProcessBatchSrvl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InterfaceExportGLSrvl</servlet-name>
    <servlet-class>df.servlet.interfacefile.InterfaceExportGLSrvl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProcessEnableTaxReportSrvl</servlet-name>
    <servlet-class>df.servlet.process.ProcessEnableTaxReportSrvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessEnableTaxReportSrvl</servlet-name>
    <url-pattern>/ProcessEnableTaxReportSrvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RetrieveData</servlet-name>
    <url-pattern>/RetrieveData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProcessDailySrvl</servlet-name>
    <url-pattern>/ProcessDailySrvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProcessMonthlySrvl</servlet-name>
    <url-pattern>/ProcessMonthlySrvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProcessMatchTableSrvl</servlet-name>
    <url-pattern>/ProcessMatchTableSrvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProcessPaymentMonthlySrvl</servlet-name>
    <url-pattern>/ProcessPaymentMonthlySrvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProcessBankTMBPaymentMonthlySrvl</servlet-name>
    <url-pattern>/ProcessBankTMBPaymentMonthlySrvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProcessTax406Srvl</servlet-name>
    <url-pattern>/ProcessTax406Srvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProcessTax402GetDataSrvl</servlet-name>
    <url-pattern>/ProcessTax402GetDataSrvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProcessTax402GetUpdateSrvl</servlet-name>
    <url-pattern>/ProcessTax402GetUpdateSrvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProcessTax402Srvl</servlet-name>
    <url-pattern>/ProcessTax402Srvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProcessPaymentSalaryMonthlySrvl</servlet-name>
    <url-pattern>/ProcessPaymentSalaryMonthlySrvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProcessBankTMBPaymentSalaryMonthlySrvl</servlet-name>
    <url-pattern>/ProcessBankTMBPaymentSalaryMonthlySrvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProcessReceiptByARSrvl</servlet-name>
    <url-pattern>/ProcessReceiptByARSrvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProcessReceiptByDoctorSrvl</servlet-name>
    <url-pattern>/ProcessReceiptByDoctorSrvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProcessReceiptByPayorSrvl</servlet-name>
    <url-pattern>/ProcessReceiptByPayorSrvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImportFileSrvl</servlet-name>
    <url-pattern>/ImportFileSrvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewReportSrvl</servlet-name>
    <url-pattern>/ViewReportSrvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProcessImportBillSrvl</servlet-name>
    <url-pattern>/ProcessImportBillSrvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportFileSrvl</servlet-name>
    <url-pattern>/ExportFileSrvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProcessImportGuaranteeSrvl</servlet-name>
    <url-pattern>/ProcessImportGuaranteeSrvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProcessRollbackSrvl</servlet-name>
    <url-pattern>/ProcessRollbackSrvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProcessFlowSrvl</servlet-name>
    <url-pattern>/ProcessFlowSrvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProcessSummaryExpenseSrvl</servlet-name>
    <url-pattern>/ProcessSummaryExpenseSrvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProcessBatchSrvl</servlet-name>
    <url-pattern>/ProcessBatchSrvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InterfaceExportGLSrvl</servlet-name>
    <url-pattern>/InterfaceExportGLSrvl</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>420</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>loginform.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CheckSummaryMonthlySrvl</display-name>
    <servlet-name>CheckSummaryMonthlySrvl</servlet-name>
    <servlet-class>df.servlet.process.CheckSummaryMonthlySrvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckSummaryMonthlySrvl</servlet-name>
    <url-pattern>/CheckSummaryMonthlySrvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckSummaryGuaranteeSrvl</display-name>
    <servlet-name>CheckSummaryGuaranteeSrvl</servlet-name>
    <servlet-class>df.servlet.process.CheckSummaryGuaranteeSrvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckSummaryGuaranteeSrvl</servlet-name>
    <url-pattern>/CheckSummaryGuaranteeSrvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessExpenseSrvl</display-name>
    <servlet-name>ProcessExpenseSrvl</servlet-name>
    <servlet-class>df.servlet.process.ProcessExpenseSrvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessExpenseSrvl</servlet-name>
    <url-pattern>/ProcessExpenseSrvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessTax91Srvl</display-name>
    <servlet-name>ProcessTax91Srvl</servlet-name>
    <servlet-class>df.servlet.process.ProcessTax91Srvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessTax91Srvl</servlet-name>
    <url-pattern>/ProcessTax91Srvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessDistributeRevenueSrvl</display-name>
    <servlet-name>ProcessDistributeRevenueSrvl</servlet-name>
    <servlet-class>df.servlet.process.ProcessDistributeRevenueSrvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessDistributeRevenueSrvl</servlet-name>
    <url-pattern>/ProcessDistributeRevenueSrvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessGroupSrvl</display-name>
    <servlet-name>ProcessGroupSrvl</servlet-name>
    <servlet-class>df.servlet.process.ProcessGroupSrvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessGroupSrvl</servlet-name>
    <url-pattern>/ProcessGroupSrvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessTax90Srvl</display-name>
    <servlet-name>ProcessTax90Srvl</servlet-name>
    <servlet-class>df.servlet.process.ProcessTax90Srvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessTax90Srvl</servlet-name>
    <url-pattern>/ProcessTax90Srvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetHourTimeSrvl</display-name>
    <servlet-name>GetHourTimeSrvl</servlet-name>
    <servlet-class>df.servlet.process.GetHourTimeSrvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetHourTimeSrvl</servlet-name>
    <url-pattern>/GetHourTimeSrvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessCalPaymentSrvl</display-name>
    <servlet-name>ProcessCalPaymentSrvl</servlet-name>
    <servlet-class>df.servlet.process.ProcessCalPaymentSrvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessCalPaymentSrvl</servlet-name>
    <url-pattern>/ProcessCalPaymentSrvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessAllMonthlySrvl</display-name>
    <servlet-name>ProcessAllMonthlySrvl</servlet-name>
    <servlet-class>df.servlet.process.ProcessAllMonthlySrvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessAllMonthlySrvl</servlet-name>
    <url-pattern>/ProcessAllMonthlySrvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessDailyCalculateSrvl</display-name>
    <servlet-name>ProcessDailyCalculateSrvl</servlet-name>
    <servlet-class>df.servlet.process.ProcessDailyCalculateSrvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessDailyCalculateSrvl</servlet-name>
    <url-pattern>/ProcessDailyCalculateSrvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HolidaySrvl</display-name>
    <servlet-name>HolidaySrvl</servlet-name>
    <servlet-class>df.servlet.process.HolidaySrvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HolidaySrvl</servlet-name>
    <url-pattern>/HolidaySrvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckDateGuarantee</display-name>
    <servlet-name>CheckDateGuarantee</servlet-name>
    <servlet-class>df.servlet.process.CheckDateGuarantee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckDateGuarantee</servlet-name>
    <url-pattern>/CheckDateGuarantee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessAllocateManagementFeeSrvl</display-name>
    <servlet-name>ProcessAllocateManagementFeeSrvl</servlet-name>
    <servlet-class>df.servlet.process.ProcessAllocateManagementFeeSrvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessAllocateManagementFeeSrvl</servlet-name>
    <url-pattern>/ProcessAllocateManagementFeeSrvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessDfTranferRevenueController</display-name>
    <servlet-name>ProcessDfTranferRevenueController</servlet-name>
    <servlet-class>df.servlet.process.ProcessDfTranferRevenueController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessDfTranferRevenueController</servlet-name>
    <url-pattern>/ProcessDfTranferRevenueController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessXrayManagementController</display-name>
    <servlet-name>ProcessXrayManagementController</servlet-name>
    <servlet-class>df.servlet.process.ProcessXrayManagementController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessXrayManagementController</servlet-name>
    <url-pattern>/ProcessXrayManagementController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewReportServices</display-name>
    <servlet-name>ViewReportServices</servlet-name>
    <servlet-class>df.servlet.service.ViewReportServices</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewReportServices</servlet-name>
    <url-pattern>/ViewReportServices</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>ProcessAllocateExpenseSrvl</description>
    <display-name>ProcessAllocateExpenseSrvl</display-name>
    <servlet-name>ProcessAllocateExpenseSrvl</servlet-name>
    <servlet-class>df.servlet.process.ProcessAllocateExpenseSrvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessAllocateExpenseSrvl</servlet-name>
    <url-pattern>/ProcessAllocateExpenseSrvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessStepAllocateSrvl</display-name>
    <servlet-name>ProcessStepAllocateSrvl</servlet-name>
    <servlet-class>df.servlet.process.ProcessStepAllocateSrvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessStepAllocateSrvl</servlet-name>
    <url-pattern>/ProcessStepAllocateSrvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessStepSrvl</display-name>
    <servlet-name>ProcessStepSrvl</servlet-name>
    <servlet-class>df.servlet.process.ProcessStepSrvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessStepSrvl</servlet-name>
    <url-pattern>/ProcessStepSrvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletTest</display-name>
    <servlet-name>ServletTest</servlet-name>
    <servlet-class>df.servlet.expense.ServletTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTest</servlet-name>
    <url-pattern>/ServletTest</url-pattern>
  </servlet-mapping>
</web-app>